@model BeerApp.Models.Receptura

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Receptura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazwaReceptury)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NazwaReceptury)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TemperaturaFermentacji)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TemperaturaFermentacji)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StosunekWodaSlod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StosunekWodaSlod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IloscWody)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IloscWody)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wysladzanie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wysladzanie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gotowanie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gotowanie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Objetosc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Objetosc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ABV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ABV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IBU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IBU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EBC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EBC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IloscSlodu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IloscSlodu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Styl.NazwaStylu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Styl.NazwaStylu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Drozdze.NazwaDrozdzy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drozdze.NazwaDrozdzy)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.RecepturaID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
