@model BeerApp.Models.Styl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Styl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazwaStylu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaStylu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OGmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OGmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OGmax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OGmax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FGmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FGmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FGmax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FGmax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ABVmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABVmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ABVmax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABVmax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBUmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBUmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBUmax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBUmax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EBCmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EBCmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EBCmax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EBCmax)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StylID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
